sample-flow.json
[{"id":"c40c193e.2f91c8","type":"comment","z":"ed632ead.123c4","name":"If Self-Signed Cert Error","info":"To get rid of self-signed cert error in HTTP\nEither add a proper cert or\nadd this line to the \nprocess.env.NODE_TLS_REJECT_UNAUTHORIZED = \"0\";\n","x":680,"y":440,"wires":[]},{"id":"37dd2e6f.8bc652","type":"ffmpeg-conversion","z":"ed632ead.123c4","name":"","format":"wav","audiochannels":"mono","x":150,"y":260,"wires":[["ed6f5be5.30fa08"]]},{"id":"e0493339.9cceb","type":"file in","z":"ed632ead.123c4","name":"File Reader","filename":"","format":"","sendError":true,"x":410,"y":180,"wires":[["37dd2e6f.8bc652"]]},{"id":"ed6f5be5.30fa08","type":"http request","z":"ed632ead.123c4","name":"STT Service","method":"POST","ret":"obj","url":"","tls":"","x":410,"y":260,"wires":[["f1f40e57.2e475","b42fbf50.807f3","2fff376d.6a16d8"]]},{"id":"3a5df2c2.ee7b0e","type":"function","z":"ed632ead.123c4","name":"Prepare","func":"console.log(msg.req.body)\n\nmsg.language =  ((msg.payload.language !== undefined)?msg.payload.language:\"en-US\");\nmsg.model = ((msg.payload.model !== undefined)?msg.payload.model:\"BroadbandModel\");\nmsg.multipleSpeakers = ((msg.payload.multipleSpeakers !== undefined)?msg.payload.multipleSpeakers:false);  \nmsg.respendpoint = msg.payload.respendpoint;\nmsg.correlationId = msg.payload.correlationId;\nmsg.filename = msg.payload.filename;\nmsg.outputStyle = ((msg.payload.outputStyle !== undefined)?msg.payload.outputStyle:\"VTT\");\n\nmsg.headers = {'Content-Type' : 'audio/wav'};\n\nvar lang_model = \"model=\"+msg.language+\"_\"+msg.model;\nif (msg.multipleSpeakers === \"true\"){\n    msg.url=\"https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&\"+lang_model+\"&speaker_labels=true\";\n} else {\n    msg.url=\"https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&\"+lang_model;\n}\nreturn msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":180,"wires":[["e0493339.9cceb"]]},{"id":"22b0923b.fb851e","type":"http in","z":"ed632ead.123c4","name":"HTTP GET","url":"/api/webvtt","method":"get","upload":false,"swaggerDoc":"","x":80,"y":100,"wires":[["a8644b82.2e5d68","3a5df2c2.ee7b0e"]]},{"id":"6ca4915a.e3548","type":"function","z":"ed632ead.123c4","name":"SOAP Formatter","func":"var newmsg={\n//  server:\"https://rcbpm3.bpm4business.com:43219/teamworks/webservices/VT01/STTComplete.tws\",\n  options:{},\n  headers:{},\n  payload:{\n      webvtt: \"<![CDATA[\"+msg.payload+\"]]>\",\n      status: \"OK\",\n      correlationId: msg.correlationId\n  }\n};\n\nmsg.payload ='<soap:Envelope xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\" xmlns:stt=\"http://VT01/STTComplete.tws\"><soap:Header/><soap:Body><stt:STT_Results><stt:webvtt>'+\n'<![CDATA['+msg.payload+\n\"]]>\"+\n'</stt:webvtt>\\n'+\n'<stt:status>'+msg.statusCode+'</stt:status>\\n'+\n'<stt:correlationId>'+msg.correlationId+'</stt:correlationId>\\n'+\n'</stt:STT_Results>\\n'+\n'</soap:Body>\\n'+\n'</soap:Envelope>';\n\ndelete msg[\"statusCode\"];\ndelete msg[\"headers\"];\ndelete msg[\"req\"];\ndelete msg[\"res\"];\ndelete msg[\"url\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["b90c7334.967ea"]]},{"id":"a8644b82.2e5d68","type":"function","z":"ed632ead.123c4","name":"Return Status","func":"msg.payload = {\"file_200\":\"OK\"};\nmsg.payload = \"\";\n//msg.headers = {\"Content-Type\":\"text/plain\",\"Accept\": \"text/plain\"};\nmsg.headers = {\"Content-Type\":\"application/json\",\"Accept\": \"application/json\"};\n//msg.headers = {\"Content-Type\":\"application/xml\",\"Accept\": \"application/xml\"};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["bcd3b369.a98e8"]]},{"id":"9762e10b.8b489","type":"http request","z":"ed632ead.123c4","name":"","method":"POST","ret":"txt","url":"https://rcbpm3.bpm4business.com:43219/teamworks/webservices/VT01/STTComplete.tws","tls":"","x":650,"y":400,"wires":[[]]},{"id":"bcd3b369.a98e8","type":"http response","z":"ed632ead.123c4","name":"","x":670,"y":100,"wires":[]},{"id":"b90c7334.967ea","type":"http request","z":"ed632ead.123c4","name":"","method":"POST","ret":"txt","url":"http://localhost:8000/SubtitlesReceiver","tls":"","x":650,"y":360,"wires":[[]]},{"id":"f1f40e57.2e475","type":"debug","z":"ed632ead.123c4","name":"","active":false,"console":"false","complete":"true","x":670,"y":260,"wires":[]},{"id":"b42fbf50.807f3","type":"watson-closed-captions","z":"ed632ead.123c4","name":"","timePerLine":2,"ccStyle":"SRT","suppressHesitations":false,"suppressSpeakerLabels":false,"verbose":true,"x":170,"y":360,"wires":[["6ca4915a.e3548"]]},{"id":"2fff376d.6a16d8","type":"file","z":"ed632ead.123c4","name":"","filename":"/Users/DanT/Projects/raw.json","appendNewline":false,"createDir":false,"overwriteFile":"true","x":650,"y":500,"wires":[]}]